# Database
DATABASE_URL=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://polymarket-ai-agent.vercel.app

# GitHub OAuth
GITHUB_ID=
GITHUB_SECRET=

# Roles
OWNER_EMAIL=
ADMIN_EMAILS=

# Chain config
RPC_URL=
TREASURY_ADDRESS=
NEXT_PUBLIC_TREASURY_ADDRESS=
USDC_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
